@import "./index.scss";
@import "./assets/styles/helpers/helpers";

.App {
  height: 100vh;
  background-color: $color-platinum;
  display: flex;
  flex-direction: column;  
  &__content {
    flex-grow: 1;
  }
}
