/*-------\
| Colors |
\-------*/
// Color Scheme
// https://coolors.co/160f29-413c58-ebcc96-ffdc5d-e3ac60
$color-dark-purple: #160f29;
$color-english-violet: #413c58;
$color-earth-yellow: #ebcc96;
$color-deep-champagne: #ebcc96;
$color-mustard: #ffdc5d;

// Base colors
$color-bg: $color-dark-purple;
$color-font-primary: $color-earth-yellow;
$color-font-secondary: $color-english-violet;
$color-primary: $color-mustard;
$color-secondary: $color-deep-champagne;

/*----------\
| Font Size |
\----------*/
// TODO: Export to BP code
$font-size-base:     1rem !default;
$font-scale:         1.33333;
$font-scale-neg :    1 / $font-scale;
$font-size-xsmaller: $font-size-base * pow($font-scale-neg, 4);
$font-size-xsmall:   $font-size-base * pow($font-scale-neg, 3);
$font-size-smaller:  $font-size-base * pow($font-scale-neg, 2);
$font-size-small:    $font-size-base * pow($font-scale-neg, 1);
$font-size-normal:   $font-size-base;
$font-size-large:    $font-size-base * pow($font-scale, 1);
$font-size-larger:   $font-size-base * pow($font-scale, 2);
$font-size-xlarge:   $font-size-base * pow($font-scale, 3);
$font-size-xlarger:  $font-size-base * pow($font-scale, 4);

/*--------\
| Spacing |
\--------*/
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer * 1,
  5: $spacer * 1.5,
  6: $spacer * 2,
  7: $spacer * 2.5,
  8: $spacer * 3,
  9: $spacer * 3.5,
  10: $spacer * 4,
  11: $spacer * 4.5,
  12: $spacer * 5,
  13: $spacer * 5.5,
  14: $spacer * 6,
  15: $spacer * 6.5,
  16: $spacer * 7,
  17: $spacer * 7.5,
  18: $spacer * 8,
  19: $spacer * 8.5,
  20: $spacer * 9,
);
