/*-------\
| Colors |
\-------*/
// Color Scheme
// https://coolors.co/160f29-413c58-e3ac60-ebc275-ebcc96
$color-dark-purple: #160f29;
$color-old-lavender: #676279;
$color-earth-yellow: #ebcc96;
$color-gold-crayola: #EBC275;
$color-deep-champagne: #ebcc96;

// Base colors
$color-background:     $color-dark-purple;
$color-font-primary:   $color-old-lavender;
$color-font-secondary: $color-earth-yellow;
$color-primary:        $color-gold-crayola;
$color-secondary:      $color-deep-champagne;

/*----------\
| Font Size |
\----------*/
$font-size-base:     1rem !default;
$font-scale:         1.33333;
$font-scale-neg :    1 / $font-scale;
$font-size-xsmaller: $font-size-base * pow($font-scale-neg, 4);
$font-size-xsmall:   $font-size-base * pow($font-scale-neg, 3);
$font-size-smaller:  $font-size-base * pow($font-scale-neg, 2);
$font-size-small:    $font-size-base * pow($font-scale-neg, 1);
$font-size-normal:   $font-size-base;
$font-size-large:    $font-size-base * pow($font-scale, 1);
$font-size-larger:   $font-size-base * pow($font-scale, 2);
$font-size-xlarge:   $font-size-base * pow($font-scale, 3);
$font-size-xlarger:  $font-size-base * pow($font-scale, 4);

/*--------\
| Spacing |
\--------*/
$base-spacer: 1rem !default;
$spacers: (
  0:  0,
  1:  $base-spacer * 0.25,
  2:  $base-spacer * 0.5,
  3:  $base-spacer * 0.75,
  4:  $base-spacer * 1,
  5:  $base-spacer * 1.5,
  6:  $base-spacer * 2,
  7:  $base-spacer * 2.5,
  8:  $base-spacer * 3,
  9:  $base-spacer * 3.5,
  10: $base-spacer * 4,
  11: $base-spacer * 4.5,
  12: $base-spacer * 5,
  13: $base-spacer * 5.5,
  14: $base-spacer * 6,
  15: $base-spacer * 6.5,
  16: $base-spacer * 7,
  17: $base-spacer * 7.5,
  18: $base-spacer * 8,
  19: $base-spacer * 8.5,
  20: $base-spacer * 9,
);
